.slider {
  padding-bottom: 40px;
}

.slider > [class*='swiper-pagination'] > [class*='swiper-pagination'] {
  width: 10px;
  height: 10px;
  margin: 0 2px;
}
.slider [class*='swiper-pagination-bullet-active'] {
  background-color: black;
}

.slider [class*='swiper-button'] {
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  display: flex;
}

.slider [class*='swiper-button-next'] {
  background-image: url('/images/icons/RightBtn.ff1e6b72.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.slider [class*='swiper-button-next']::after {
  display: none;
}
