.slider {
  padding-bottom: 40px;
}

.slider > [class*='swiper-pagination'] > [class*='swiper-pagination'] {
  width: 10px;
  height: 10px;
  margin: 0 2px;
}
.slider [class*='swiper-pagination-bullet-active'] {
  background-color: black;
}

.slider [class*='swiper-button'] {
  align-items: center;
  justify-content: center;
  display: flex;
  top: 50%;
  translate: 0 -50%;
  opacity: 0;
}
.slider:hover [class*='swiper-button'] {
  opacity: 1;
}

.slider [class*='swiper-button-next'] {
  background-image: url('/images/icons/RightBtn.ff1e6b72.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 44px;
  right: 40px;
}
.slider [class*='swiper-button-next']::after {
  display: none;
}

.slider [class*='swiper-button-prev'] {
  background-image: url('/images/icons/LeftBtn.8960a4d3.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 44px;
  left: 40px;
}
.slider [class*='swiper-button-prev']::after {
  display: none;
}

.slider [class*='swiper-button-disabled'] {
  display: none;
}

.pickslider {
  position: static;
}

.pickslider [class*='swiper-slide'] {
  width: 312px;
  flex-shrink: 1;
}

.pickslider [class*='swiper-button'] {
  border: 1px solid red;
}
.pickslider [class*='swiper-button-prev'] {
  background-image: url('/images/icons/left-nav.eb875d7a.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 56px;
  height: 56px;
  left: 0px;
}
.pickslider [class*='swiper-button-prev']::after {
  display: none;
}

/* 모바일분기점 */
@media (max-width: 767px) {
  .slider [class*='swiper-button'] {
    display: none;
  }
}
